<div class="row animated fadeIn fast">

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Usuarios</h3>

        <div class="alert alert-info animated fadeIn fast" *ngIf="usuarios.length === 0">
          <p class="mb-0">
            No hay usuario con ese término
          </p>
        </div>

        <div class="table-responsive" *ngIf="usuarios.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios" class="animated fadeIn fast">
                <td>
                  <img [src]="usuario.img | imagen:'usuarios'" class="w75" />
                </td>
                <td>{{ usuario.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Deportes</h3>

        <div class="alert alert-info animated fadeIn fast" *ngIf="deportes.length === 0">
          <p class="mb-0">
            No hay deportes con ese término
          </p>
        </div>

        <div class="table-responsive" *ngIf="deportes.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Foto</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let deporte of deportes" class="animated fadeIn fast">
                <td>
                  <img [src]="deporte.img | imagen:'deportes'" class="w75" />
                </td>
                <td>{{ deporte.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Jugadores</h3>

        <div class="alert alert-info animated fadeIn fast" *ngIf="jugadores.length === 0">
          <p class="mb-0">
            No hay jugadores con ese término
          </p>
        </div>

        <div class="table-responsive" *ngIf="jugadores.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Foto</th>
                <th>Jugador</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let jugador of jugadores" class="animated fadeIn fast">
                <td>
                  <img [src]="jugador.img | imagen:'jugadores'" class="w75" />
                </td>
                <td>
                  <a [routerLink]="['/mantenimiento/jugador', jugador._id ]">
                    {{ jugador.nombre }}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
</div>
