<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Compatibilidad planetaria</h4>
        <h6 class="card-subtitle">Actualizar información</h6>

        <form class="form-horizontal p-t-20" [formGroup]="compatibilidadPlanetariaForm"
          (submit)="guardarCompatibilidadPlanetaria()">
          <!--Nombre-->
          <div class="form-group row">
            <label for="nombre" class="col-sm-3 control-label">Nombre</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" formControlName="nombre" class="form-control" id="nombre">
              </div>
            </div>
          </div>
          <!--Descripcion-->
          <div class="form-group row">
            <label for="descripcion" class="col-sm-3 control-label">Descripcion</label>
            <div class="col-sm-9">
              <div class="input-group">
                <textarea formControlName="descripcion" class="form-control" rows="5" id="descripcion"></textarea>
              </div>
            </div>
          </div>
          <ng-container formArrayName="configArmonias">
            <ng-container *ngFor="let cuerposCelesteItem of getConfigArmonias(compatibilidadPlanetariaForm); let i=index">
              <div [formGroupName]="i">
                <!--CuerpoCeleste1-->
                <div class="form-group row">
                  <label for="cuerpoCeleste1{{i}}" class="col-sm-3 control-label">Cuerpo celeste1</label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <select class="form-control" formControlName="cuerpoCeleste1">
                        <option value="">Seleccione cuerpo celeste</option>
                        <option *ngFor="let cuerpoCeleste of cuerposCelestes" [value]="cuerpoCeleste">
                          {{ cuerpoCeleste.nombre }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <!--CuerpoCeleste2-->
                <div class="form-group row">
                  <label for="cuerpoCeleste2{{i}}" class="col-sm-3 control-label">Cuerpo celeste2</label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <select class="form-control" formControlName="cuerpoCeleste2">
                        <option value="">Seleccione cuerpo celeste</option>
                        <option *ngFor="let cuerpoCeleste of cuerposCelestes" [value]="cuerpoCeleste">
                          {{ cuerpoCeleste.nombre }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <!--Armonia-->
                <div class="form-group row">
                  <label for="armonia{{i}}" class="col-sm-3 control-label">Armonia</label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input type="number" formControlName="armonia" class="form-control"
                        id="armonia{{i}}">
                    </div>
                  </div>
                </div>
                <!--Puntos-->
                <div class="form-group row">
                  <label for="puntos{{i}}" class="col-sm-3 control-label">Puntos</label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input type="number" formControlName="puntos" class="form-control"
                        id="puntos{{i}}">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 ">
                    <button (click)="borrarConfigArmonia(i)" type="button"
                      class="btn btn-danger waves-effect waves-light right">
                      <i class="fa fa-trash"></i>
                      Borrar
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>

          <div class="form-group row">
            <div class=" col-sm-9">
              <button type="submit" [disabled]="compatibilidadPlanetariaForm.invalid"
                class="btn btn-success waves-effect waves-light">
                <i class="fa fa-save"></i>
                Guardar
              </button>
            </div>
            <div class="col-sm-3 ">
              <button (click)="anadirConfigArmonia()" type="button"
                class="btn btn-success waves-effect waves-light right">
                <i class="fa fa-plus"></i>
                Añadir
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
