<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTriggerGeneral"
            class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>DIA</th>
                <th>CATEGORIA</th>
                <th>TIPO PISTA</th>
                <th>HORA INICIO</th>
                <th>CIRCUITO</th>
                <th>JUGADOR1</th>
                <th>JUGADOR2</th>
                <th>RESULTADO</th>


              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let partido of partidos">
                <tr>
                  <td>{{ partido.createdAt }}</td>
                  <td>{{ partido.categoria }}</td>
                  <td>{{ partido.tipoPista }}</td>
                  <td>{{ partido.horaInicio }}</td>
                  <td>{{ partido.circuito }}</td>
                  <td>{{ partido.jugador1 }}</td>
                  <td>{{ partido.jugador2 }}</td>
                  <td>{{ partido.resultado }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
