<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form class="form-horizontal p-t-20" [formGroup]="estrategiaForm">
          <!--Estrategia-->
          <div class="form-group row">
            <label for="estrategia" class="col-sm-3 control-label">Estrategia</label>
            <div class="col-sm-9">
              <div class="input-group">
                <select class="form-control" formControlName="estrategia">
                  <option value="">Seleccione estrategia</option>
                  <option *ngFor="let estrategia of estrategias" [ngValue]="estrategia">
                    {{ estrategia.nombre }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!--Ciclo Desde-->
          <div class="form-group row">
            <label for="cicloDesde" class="col-sm-3 control-label">Ciclo Desde</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" formControlName="cicloDesde" class="form-control" id="cicloDesde" />
              </div>
            </div>
          </div>
          <!--Ciclo Hasta-->
          <div class="form-group row">
            <label for="cicloHasta" class="col-sm-3 control-label">Ciclo Hasta</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" formControlName="cicloHasta" class="form-control" id="cicloHasta" />
              </div>
            </div>
          </div>
          <!--Intervalo-->
          <div class="form-group row">
            <label for="intervalo" class="col-sm-3 control-label">Intervalo</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" formControlName="intervalo" class="form-control" id="intervalo" />
              </div>
            </div>
          </div>
          <!--Repeticiones-->
          <div class="form-group row">
            <label for="repeticiones" class="col-sm-3 control-label">Repeticiones</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" formControlName="repeticiones" class="form-control" id="repeticiones" />
              </div>
            </div>
          </div>
          <!--Puntos Natal-->
          <div class="form-group row">
            <label for="puntosNatal" class="col-sm-3 control-label">Puntos Natal</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" formControlName="puntosNatal" class="form-control" id="puntosNatal" />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <button (click)="
                  cargarHistoricoPartidos(estrategiaForm.value.estrategia)
                " type="button" class="btn btn-danger waves-effect waves-light right">
                <i class="fa fa-trash"></i>
                Calcular historico partidos
              </button>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <button (click)="
                  aprenderCompatibilidades()
                " type="button" class="btn btn-danger waves-effect waves-light right">
                <i class="fa fa-trash"></i>
                Calcular compatibilidades
              </button>
            </div>
          </div>
        </form>

        <!--Ver estrategias-->
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Nombre</th>
                <th>Descripcion</th>
                <th class="w100 text-nowrap">Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estrategia of estrategias let i=index">
                <td>
                  {{ estrategia.nombre }}
                </td>
                <td>
                  {{ estrategia.descripcion }}
                </td>
                <td *ngIf="estrategia.aprendiendo" class="text-nowrap text-center">
                  Aprendiendo
                </td>
                <td *ngIf="!estrategia.aprendiendo" class="text-nowrap text-center">
                  Parado
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


</div>